
html {
	font-size:62.5%;
}
* {

	margin: 0;
	padding: 0;
}
input {
	border: none;
}
body {

  width: 95%;
}.desktop-1-Y2q {

  box-sizing:content-box;
  padding-right: 1rem;
  width:  100%;
  overflow: hidden;
  position: relative;
  display:block;
  align-items: flex-start;
  background-color: #ffffff;
}

.navbar {
  width:  104rem;;
margin-left: 19%;
}

.navbar a {
  float: right;
  color: black;
  text-decoration: none;
  font-size: 17px;

  padding-top: 3%;
padding-left: 12%;
}

.navbar a:hover {
  color: #D1884F;
}

.active a::after{
  color: #D1884F;
} 

@media screen and (max-width: 800px) {
  .navbar a {
    float: none;
    display: block;

  }}


 .rectangle-general {
  display: block;
  width: 43.1rem;
 height: 43.872rem;
  position: relative;
  flex-shrink: 0;
left: 65%;
   margin-top: 7%;
}
@media screen and (max-width: 800px) {
  .rectangle-general {
    display: flex;
    left: 10%;
    
    }}


 .rectangle-blue {
  width: 39.1396rem;
  height: 40rem;
  position: absolute;
  left: 0;
  top: 2.0rem;
  background-color: #3BBADB;
  border-radius: 0 0 0 22.4rem;
}
.rectangle-picture {
  width: 40.4rem;
  height: 42.9rem;
  position: absolute;
  left: 2.7rem;
  top: -30px;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0 0 0 22.4rem;
}
.all-content-left{
  float: left;
  text-align: left;
  margin-left: 10%;

}
@media screen and (max-width: 800px) {
  .all-content-left{
    width: 100%;
    float: none;
  padding-bottom: 12%;
  }}


.first-line-welcome{
padding-top: 2%;
max-width:50%;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 2.8125;
  color: #3bbadb;
  font-family: Inter, 'Source Sans Pro';

}
.all-content-left .second-line{
padding-top: 4%;
  font-size: 6.7rem;
  font-weight: 700;
  line-height: 1.1492537313;
  color: #018db0;
  font-family: Inter, 'Source Sans Pro';

}

.all-content-left .second-line .developer{
  color: #d1884f;
}
.all-content-left .third-paragraph{
padding-top:7%;
  max-width: 58.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';

}

.all-content-left .see-more{
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #008aaa;
  font-family: Inter, 'Source Sans Pro';
}
.all-content-left .buttons-under-text{
  height: 5.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-top: 10%;
  padding-bottom: 2%;
}

@media screen and (max-width: 800px) {
  .all-content-left .buttons-under-text{
    display: block;
  margin-bottom: 15%;
  
  }}
.all-content-left .buttons-under-text .button-hire-me{
  margin-right: 3.5rem;
  width: 20.5rem;
  height: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 0.6rem rgba(0, 0, 0, 0.23);
  background-color: #008aaa;
  border-radius: 0.8rem;
  flex-shrink: 0;
}

.all-content-left .buttons-under-text .button-my-project{
  width: 29.9rem;
  height: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #008aaa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #008aaa;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 138, 170, 0.1700000018);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 50%;
  margin-left:44% ;
  }

  .rectangle-general {
    width: 50%;
    text-align: left;
  }

  .all-content-left {
    margin-left: 10%;
    text-align: left;
 
  }
 

}